<h1 class="text-center p-3">Registro</h1>
<div class="d-flex justify-content-center">
    <div  class="w-25  p-3" style="background-color: #eee;">
        <form method="post" action="api/sessions/registro">
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                </div>
                <input type="text" class="form-control" aria-label="email" placeholder="ingrese su correo"  name="email">
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
                </div>
                <input type="text" class="form-control" aria-label="password" placeholder="password"  name="password">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-light ">Registrarse</button>
            </div>
        </form>
    </div>
</div>